.list{
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;

    .wrapper{
        display: flex;
       justify-content: center;
        gap: 50px;
       flex-wrap: wrap;

    }
}