





.navbar {
    height: 80px;

        background: linear-gradient(to bottom, #000000, #ffffff);
        background-color: #f2f2f2;
        background-image: linear-gradient(to bottom, #f2f2f2, #d9e3f0);

        font-family: 'Roboto Condensed', sans-serif;
font-size: 25px;









    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            font-size: 18px;

            @media only screen and (max-width: 1000px) {
                display: none;
              }
        }

        .left {
            display: flex;
            align-items: center;
            gap: 20px;

            .toggleicon {
                display: none;
            
                @media only screen and (max-width: 1000px) {
                    display: block;
                }
            }
        }

        .center {
            font-size: 30px;

        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;

            .icons{
                display: flex;
                gap: 15px;
                color: rgb(168, 168, 168);
                cursor: pointer;
               
                .cartIcon{
                    position: relative;
                    span{
font-size: 12px;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: aqua;
position: absolute;
color: aliceblue;
right: -10px;
top: -10px;
display: flex;
align-items: center;
justify-content: center;
                    }
                }
            }

        }



    }
}